<template>
  <div>
    <h2>Task Manager</h2>
    <form @submit.prevent="addTask"></form>
    <ul v-if="tasks.length">
      <li v-for="task in tasks" :key="task.id">
        {{ task.text }} - {{ task.status }}
        <button @click="updateTask(task)">
          {{ task.status === "completed" ? "Mark Pending" : "Mark Completed" }}
        </button>
      </li>
    </ul>
    <p v-else>Loading tasks...</p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      tasks: [],
      newTask: {
        title: "",
        status: "pending",
      },
    };
  },
  created() {
    axios
      .get("http://localhost:3000/tasks") 
      .then((response) => {
        this.tasks = response.data;
      })
      .catch((error) => {
        console.error("Error fetching tasks:", error);
      });
  },

  methods: {
    addTask() {
      // Send POST request to add task
      axios
        .post("http://localhost:3000/tasks", this.newTask)
        .then((response) => {
          // Task added successfully
          this.tasks.push(response.data);
          this.newTask.title = ""; // Clear the input field
        })
        .catch((error) => {
          console.error("Error adding task:", error);
        });
    },
  },

  methods: {
    updateTask(task) {
      const updatedStatus =
        task.status === "completed" ? "pending" : "completed";
      task.status = updatedStatus; 

      axios
        .put(`http://localhost:3000/tasks/taskId`, { status: updatedStatus })
        .then((response) => {
          console.log("Task status updated successfully");
        })
        .catch((error) => {
          console.error("Error updating task:", error);
          task.status = !updatedStatus;
        });
    },

    methods: {
      deleteTask(taskId) {
        axios
          .delete(`http://localhost:3000/tasks/taskId`)
          .then((response) => {
            // Task deleted successfully
            const taskIndex = this.tasks.findIndex(
              (task) => task.id === taskId
            );
            this.tasks.splice(taskIndex, 1); 
          })
          .catch((error) => {
            console.error("Error deleting task:", error);
          });
      },
    },
  },
};
</script>

<style scoped></style>
